In [1]:
import pandas as pd
import numpy as np
from scipy.sparse.linalg import svds
from scipy.sparse import csr_matrix

In [2]:
column_headers = ['Steam userID', 'title of the steam game', 'action', 'hours_played', 'blank']

df = pd.read_csv('steam-200k.csv', names=column_headers, header=None)
df.head()

,Steam userID,title of the steam game,action,hours_played,blank_column
0,151603712,The Elder Scrolls V Skyrim,purchase,1.0,0
1,151603712,The Elder Scrolls V Skyrim,play,273.0,0
2,151603712,Fallout 4,purchase,1.0,0
3,151603712,Fallout 4,play,87.0,0
4,151603712,Spore,purchase,1.0,0

In [3]:
df = df[df['action'] != 'purchase']

df.drop(['action', 'blank'], axis=1, inplace=True)

df.head()

   Steam userID     title of the steam game  hours_played
1     151603712  The Elder Scrolls V Skyrim         273.0
3     151603712                   Fallout 4          87.0
5     151603712                       Spore          14.9
7     151603712           Fallout New Vegas          12.1
9     151603712               Left 4 Dead 2           8.9